
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="./resources/favicon.ico">

    <title>User add</title>

    <!-- Bootstrap core CSS -->
    <link href="asserts/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="asserts/css/dashboard.css" th:href="@{/asserts/css/dashboard.css}"  rel="stylesheet">
</head>

<body class="bg-light">
<!-- insert topvar -->
<div th:replace="~{commons/bar::topbar(activeUri='toUser')}"></div>

<div class="container">

    <div class="row">
        <!-- insert sidebar -->
        <div th:replace="~{commons/bar::sidebar(activeUri='toUser')}"></div>

        <div class="col-md-8 order-md-1">
            <br/>
            <h4 class="mb-3">User add</h4>
            <form class="needs-validation" novalidate th:action="@{/user}" th:method="post" >

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="User_id">User_id</label>
                        <input type="text" class="form-control" id="User_id" placeholder="" required>
                        <small class="text-muted">unique remark</small>
                        <div class="invalid-feedback">
                            User_id is required
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="Name">Name</label>
                        <input type="text" class="form-control" id="Name" placeholder="">
                    </div>
                </div>

                <div class="mb-3">
                    <label for="Mobile">Mobile</label>
                    <input type="text" class="form-control" id="Mobile" placeholder="">
                </div>

                <div class="mb-3">
                    <label for="Email">Email</label>
                    <input type="email" class="form-control" id="Email" placeholder="you@example.com" required>
                    <div class="invalid-feedback">
                        Please enter a valid email address.
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="Role">Role</label>
                        <select class="custom-select d-block w-100" id="Role" required>
                            <option value="">Choose...</option>
                            <option value="Admin">Admin</option>
                            <option value="User">User</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid Role.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="State">State</label>
                        <select class="custom-select d-block w-100" id="State" required>
                            <option value="">Choose...</option>
                            <option value="add">add</option>
                            <option value="update">update</option>
                        </select>
                        <div class="invalid-feedback">
                            Please provide a valid state.
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="Effect_Date">Effect_Date</label>
                    <input type="date" class="form-control" id="Effect_Date" required>
                    <div class="invalid-feedback">
                        Please enter a valid Effect_Date.
                    </div>
                </div>

                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
            </form>
        </div>
    </div>

    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2017-2018 Company Name</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Privacy</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
    </footer>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/asserts/js/jquery-3.2.1.slim.min.js}" src="asserts/js/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="assets/js/vendor/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/vendor/holder.min.js"></script>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
        'use strict';

        window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');

            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
</body>
</html>
