<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Change-Password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS Libs -->
    <link rel="stylesheet" type="text/css" th:href="@{/lib/css/bootstrap.min.css}" th href="/lib/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/lib/css/font-awesome.min.css}" href="/lib/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/lib/css/animate.min.css}" href="/lib/css/animate.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/lib/css/bootstrap-switch.min.css}" href="/lib/css/bootstrap-switch.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/lib/css/checkbox3.min.css}" href="/lib/css/checkbox3.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/lib/css/jquery.dataTables.min.css}" href="/lib/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/lib/css/dataTables.bootstrap.css}" href="/lib/css/dataTables.bootstrap.css">
    <link rel="stylesheet" type="text/css" th:href="@{/lib/css/select2.min.css}" href="/lib/css/select2.min.css">
    <!-- CSS App -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="/css/style.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/themes/flat-blue.css}" href="/css/themes/flat-blue.css">
</head>

<body class="flat-blue">
<div class="app-container">
    <div class="row content-container">
        <!-- insert topvar -->
        <div th:replace="~{commons/bar::topnav(activeUri='drug.html')}"></div>
        <!-- insert sidebar -->
        <div th:replace="~{commons/bar::sidebar(activeUri='drug.html')}"></div>
        <!-- Main Content -->
        <div class="container-fluid">
            <div class="side-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title">
                                    <div class="title">
                                        修改密码
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <form id="ChangePassword_Form" class="form-horizontal">
                                    <div class="form-group">
                                        <label for="Password" class="col-sm-2 control-label">验证码</label>
                                        <div class="col-sm-8">
                                            <input type="text" name="Verification" class="form-control" id="Verification"
                                                   placeholder="">
                                            <span class="help-block"></span>
                                        </div>
                                        <button id="sendMessage" type="button" class="col-sm-2 btn btn-default">发送短信</button>
                                    </div>
                                    <div class="form-group">
                                        <label for="Password" class="col-sm-2 control-label">新密码</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="Password" class="form-control" id="Password">
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="PasswordConfirm" class="col-sm-2 control-label">确认密码</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="PasswordConfirm" class="form-control" id="PasswordConfirm">
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button type="reset" class="btn btn-default" data-dismiss="modal">重置</button>
                                            <button id="password_save_btn" type="button" class="btn btn-info">保存</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="app-footer">
        <div class="wrapper">
            <span class="pull-right">2.1 <a href="#"><i class="fa fa-long-arrow-up"></i></a></span> © 2015 Copyright.
        </div>
    </footer>
    <div>
        <!-- Javascript Libs -->
        <script type="text/javascript" th:src="@{/lib/js/jquery.min.js}" src="/lib/js/jquery.min.js"></script>
        <script type="text/javascript" th:src="@{/lib/js/bootstrap.min.js}" src="/lib/js/bootstrap.min.js"></script>
        <script type="text/javascript" th:src="@{/lib/js/Chart.min.js}" src="/lib/js/Chart.min.js"></script>
        <script type="text/javascript" th:src="@{/lib/js/bootstrap-switch.min.js}" src="/lib/js/bootstrap-switch.min.js"></script>
        <script type="text/javascript" th:src="@{/lib/js/jquery.matchHeight-min.js}" src="/lib/js/jquery.matchHeight-min.js"></script>
        <script type="text/javascript" th:src="@{/lib/js/jquery.dataTables.min.js}" src="/lib/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" th:src="@{/lib/js/dataTables.bootstrap.min.js}" src="/lib/js/dataTables.bootstrap.min.js"></script>
        <script type="text/javascript" th:src="@{/lib/js/select2.full.min.js}" src="/lib/js/select2.full.min.js"></script>
        <script type="text/javascript" th:src="@{/lib/js/ace/ace.js}" src="/lib/js/ace/ace.js"></script>
        <script type="text/javascript" th:src="@{/lib/js/ace/mode-html.js}" src="/lib/js/ace/mode-html.js"></script>
        <script type="text/javascript" th:src="@{/lib/js/ace/theme-github.js}" src="/lib/js/ace/theme-github.js"></script>
        <script type="text/javascript" th:src="@{/lib/js/jquery.cookie.js}" src="/lib/js/ace/theme-github.js"></script>
        <!-- Javascript -->
        <script type="text/javascript" th:src="@{/js/app.js}" src="/js/app.js"></script>

        <!--  Javascript for Nios  -->
        <script type="text/javascript" th:src="@{/nios-js/change-password.js}"></script>

        <script type="text/javascript">
            $(function () {
                let token = $.cookie('token');
            });
        </script>
    </div>
</div>
</body>

</html>
