<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>诊断</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Fonts -->
    <!--<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400' rel='stylesheet' type='text/css'>-->
    <!--<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>-->
    <!-- CSS Libs -->
    <link rel="stylesheet" type="text/css" th:href="@{/lib/css/bootstrap.min.css}" th href="/lib/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/lib/css/font-awesome.min.css}" href="/lib/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/lib/css/animate.min.css}" href="/lib/css/animate.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/lib/css/bootstrap-switch.min.css}" href="/lib/css/bootstrap-switch.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/lib/css/checkbox3.min.css}" href="/lib/css/checkbox3.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/lib/css/jquery.dataTables.min.css}" href="/lib/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/lib/css/dataTables.bootstrap.css}" href="/lib/css/dataTables.bootstrap.css">
    <link rel="stylesheet" type="text/css" th:href="@{/lib/css/select2.min.css}" href="/lib/css/select2.min.css">
    <!-- CSS App -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="/css/style.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/themes/flat-blue.css}" href="/css/themes/flat-blue.css">
</head>

<body class="flat-blue">
<div class="app-container">
    <div class="row content-container">
        <!-- insert topvar -->
        <div th:replace="~{commons/bar::topnav(activeUri='diagnosis.html')}"></div>
        <!-- insert sidebar -->
        <div th:replace="~{commons/bar::sidebar(activeUri='diagnosis.html')}"></div>
        <!-- Main Content -->
        <div class="container-fluid">
            <div class="side-body">
                <div class="page-title">
                    <span class="title">诊断</span>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title">
                                    <div class="title">
                                        预约列表
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <table id="appointment_table" class="table table-hover" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th><input type="checkbox" id="check_all"></th>
                                            <th>求诊人</th>
                                            <th>医师</th>
                                            <th>预约编号</th>
                                            <th>预约时间</th>
                                            <th>备注</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title">
                                    <div class="title">
                                        诊断
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <form id="Appointment_Form" class="form-horizontal">
                                    <div class="form-group">
                                        <label for="id" class="col-sm-2 control-label">预约编号</label>
                                        <div class="col-sm-10">
                                            <input disabled type="text" name="id" class="form-control" id="id">
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                    <div hidden="hidden" class="form-group">
                                        <label for="PatientId" class="col-sm-2 control-label">求诊人编号</label>
                                        <div class="col-sm-10">
                                            <input disabled type="text" name="PatientId" class="form-control" id="PatientId">
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                    <div hidden="hidden" class="form-group">
                                        <label for="DoctorId" class="col-sm-2 control-label">医师编号</label>
                                        <div class="col-sm-10">
                                            <input disabled type="text" name="DoctorId" class="form-control" id="DoctorId">
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="PatientName" class="col-sm-2 control-label">求诊人</label>
                                        <div class="col-sm-10">
                                            <input disabled type="text" name="PatientName" class="form-control" id="PatientName">
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="DoctorName" class="col-sm-2 control-label">医师</label>
                                        <div class="col-sm-10">
                                            <input disabled type="text" name="DoctorName" class="form-control" id="DoctorName">
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="Drug" class="col-sm-2 control-label">药物</label>
                                        <div class="col-sm-10">
                                            <select multiple name="Drug" id="Drug" class="form-control">

                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="Description" class="col-sm-2 control-label">医嘱</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="Description" class="form-control" id="Description">
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button type="reset" class="btn btn-default" data-dismiss="modal">重置</button>
                                            <button id="diagnosis_save_btn" type="button" class="btn btn-info">保存</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <!-- Javascript Libs -->
        <script type="text/javascript" th:src="@{/lib/js/jquery.min.js}" src="/lib/js/jquery.min.js"></script>
        <script type="text/javascript" th:src="@{/lib/js/bootstrap.min.js}" src="/lib/js/bootstrap.min.js"></script>
        <script type="text/javascript" th:src="@{/lib/js/Chart.min.js}" src="/lib/js/Chart.min.js"></script>
        <script type="text/javascript" th:src="@{/lib/js/bootstrap-switch.min.js}" src="/lib/js/bootstrap-switch.min.js"></script>
        <script type="text/javascript" th:src="@{/lib/js/jquery.matchHeight-min.js}" src="/lib/js/jquery.matchHeight-min.js"></script>
        <script type="text/javascript" th:src="@{/lib/js/jquery.dataTables.min.js}" src="/lib/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" th:src="@{/lib/js/dataTables.bootstrap.min.js}" src="/lib/js/dataTables.bootstrap.min.js"></script>
        <script type="text/javascript" th:src="@{/lib/js/select2.full.min.js}" src="/lib/js/select2.full.min.js"></script>
        <script type="text/javascript" th:src="@{/lib/js/ace/ace.js}" src="/lib/js/ace/ace.js"></script>
        <script type="text/javascript" th:src="@{/lib/js/ace/mode-html.js}" src="/lib/js/ace/mode-html.js"></script>
        <script type="text/javascript" th:src="@{/lib/js/ace/theme-github.js}" src="/lib/js/ace/theme-github.js"></script>
        <script type="text/javascript" th:src="@{/lib/js/jquery.cookie.js}" src="/lib/js/ace/theme-github.js"></script>
        <!-- Javascript -->
        <script type="text/javascript" th:src="@{/js/app.js}" src="/js/app.js"></script>

        <!--  Javascript for Nios  -->
        <script type="text/javascript" th:src="@{/nios-js/diagnosis.js}"></script>

        <script type="text/javascript">
            $(function () {
                let token = $.cookie('token');
            });
        </script>
    </div>
</div>
</body>

</html>
