<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>药物信息</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS Libs -->
    <link rel="stylesheet" type="text/css" th:href="@{/lib/css/bootstrap.min.css}" th href="/lib/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/lib/css/font-awesome.min.css}" href="/lib/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/lib/css/animate.min.css}" href="/lib/css/animate.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/lib/css/bootstrap-switch.min.css}" href="/lib/css/bootstrap-switch.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/lib/css/checkbox3.min.css}" href="/lib/css/checkbox3.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/lib/css/jquery.dataTables.min.css}" href="/lib/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/lib/css/dataTables.bootstrap.css}" href="/lib/css/dataTables.bootstrap.css">
    <link rel="stylesheet" type="text/css" th:href="@{/lib/css/select2.min.css}" href="/lib/css/select2.min.css">
    <!-- CSS App -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="/css/style.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/themes/flat-blue.css}" href="/css/themes/flat-blue.css">
</head>
<!-- Modal -->
<div class="modal fade modal-info" id="modalInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">数据导入</h4>
            </div>
            <div class="modal-body">
                <form id="Upload_Form" class="form-horizontal">
                    <div class="form-group">
                        <label for="DrugId" class="col-sm-2 control-label">Excel文件</label>
                        <div class="col-sm-10">
                            <input type="file" name="file" class="form-control" id="exampleInputFile" >
                            <span class="help-block"></span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button id="uploadFile" type="button" class="btn btn-info">数据导入</button>
            </div>
        </div>
    </div>
</div>

<!-- 入货模态框 -->
<div class="modal fade modal-info" id="restock" tabindex="-1" role="dialog" aria-labelledby="restockLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="restockLabel">入货</h4>
            </div>
            <div class="modal-body">
                <form id="Restock_Form" class="form-horizontal">
                    <div hidden="hidden" class="form-group">
                        <label for="restock_drug_id" class="col-sm-2 control-label">药物编号</label>
                        <div class="col-sm-10">
                            <input type="text" name="restock_drug_id" class="form-control" id="restock_drug_id" >
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="restock_amount" class="col-sm-2 control-label">数量</label>
                        <div class="col-sm-10">
                            <input type="text" name="restock_amount" class="form-control" id="restock_amount" >
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="restock_date" class="col-sm-2 control-label">过期日期</label>
                        <div class="col-sm-10">
                            <input type="date" name="restock_date" class="form-control" id="restock_date" >
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="restock_remark" class="col-sm-2 control-label">备注</label>
                        <div class="col-sm-10">
                            <input type="text" name="restock_remark" class="form-control" id="restock_remark" >
                            <span class="help-block"></span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button id="restockBtn" type="button" class="btn btn-info">入货</button>
            </div>
        </div>
    </div>
</div>

<body class="flat-blue">
<div class="app-container">
    <div class="row content-container">
        <!-- insert topvar -->
        <div th:replace="~{commons/bar::topnav(activeUri='drug.html')}"></div>
        <!-- insert sidebar -->
        <div th:replace="~{commons/bar::sidebar(activeUri='drug.html')}"></div>
        <!-- Main Content -->
        <div class="container-fluid">
            <div class="side-body">
                <div class="page-title">
                    <span class="title">药物信息</span>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title">
                                    <div class="title">
                                        <button id="import_all_btn" data-toggle="modal" data-target="#modalInfo" type="button" class="btn btn-info">批量导入
                                        </button>
                                        <button id="delete_all_btn" type="button" class="btn btn-danger">批量删除
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <table id="drugs_table" class="table table-hover" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th><input type="checkbox" id="check_all"></th>
                                            <th>药物编号</th>
                                            <th>药物</th>
                                            <th>药物类别</th>
                                            <th>默认服用数量</th>
                                            <th>简介</th>
                                            <th>数量</th>
                                            <th>单价</th>
                                            <th>单位</th>
                                            <th>当前状态</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                                <div id="page_nav_area">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title">
                                    <div class="title">
                                        药物信息
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <form id="DrugProfile_Form" class="form-horizontal">
                                    <div class="form-group">
                                        <label for="DrugId" class="col-sm-2 control-label">药物编号</label>
                                        <div class="col-sm-10">
                                            <input disabled type="text" name="DrugId" class="form-control" id="DrugId" >
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="DrugName" class="col-sm-2 control-label">药物</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="DrugName" class="form-control" id="DrugName">
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">药物类别</label>
                                        <div class="col-sm-10">
                                            <div class="radio3 radio-check radio-inline">
                                                <input type="radio" id="DrugType_1" name="DrugType" value="Sheet">
                                                <label for="DrugType_1">
                                                    块状
                                                </label>
                                            </div>
                                            <div class="radio3 radio-check radio-success radio-inline">
                                                <input type="radio" id="DrugType_2" name="DrugType" value="Granule">
                                                <label for="DrugType_2">
                                                    颗粒
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="DefaultAmount" class="col-sm-2 control-label">默认服用数量</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="DefaultAmount" class="form-control" id="DefaultAmount" >
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="Description" class="col-sm-2 control-label">简介</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="Description" class="form-control" id="Description" >
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="Amount" class="col-sm-2 control-label">数量</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="Amount" class="form-control" id="Amount" >
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="Price" class="col-sm-2 control-label">价格</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="Price" class="form-control" id="Price" >
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="Unit" class="col-sm-2 control-label">单位</label>
                                        <div class="col-sm-10">
                                            <select name="Unit" id="Unit" class="form-control">
                                                <option value="Jra">两</option>
                                                <option value="Gra">克</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">当前状态</label>
                                        <div class="col-sm-10">
                                            <div class="radio3 radio-check radio-inline">
                                                <input type="radio" id="Status_Y" name="Status" value="Y">
                                                <label for="Status_Y">
                                                    生效
                                                </label>
                                            </div>
                                            <div class="radio3 radio-check radio-success radio-inline">
                                                <input type="radio" id="Status_N" name="Status" value="N">
                                                <label for="Status_N">
                                                    停用
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button type="reset" class="btn btn-default" data-dismiss="modal">Reset</button>
                                            <button id="drug_save_btn" type="button" class="btn btn-info">Save</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="app-footer">
        <div class="wrapper">
            <span class="pull-right">2.1 <a href="#"><i class="fa fa-long-arrow-up"></i></a></span> © 2015 Copyright.
        </div>
    </footer>
    <div>
        <!-- Javascript Libs -->
        <script type="text/javascript" th:src="@{/lib/js/jquery.min.js}" src="/lib/js/jquery.min.js"></script>
        <script type="text/javascript" th:src="@{/lib/js/bootstrap.min.js}" src="/lib/js/bootstrap.min.js"></script>
        <script type="text/javascript" th:src="@{/lib/js/Chart.min.js}" src="/lib/js/Chart.min.js"></script>
        <script type="text/javascript" th:src="@{/lib/js/bootstrap-switch.min.js}" src="/lib/js/bootstrap-switch.min.js"></script>
        <script type="text/javascript" th:src="@{/lib/js/jquery.matchHeight-min.js}" src="/lib/js/jquery.matchHeight-min.js"></script>
        <script type="text/javascript" th:src="@{/lib/js/jquery.dataTables.min.js}" src="/lib/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" th:src="@{/lib/js/dataTables.bootstrap.min.js}" src="/lib/js/dataTables.bootstrap.min.js"></script>
        <script type="text/javascript" th:src="@{/lib/js/select2.full.min.js}" src="/lib/js/select2.full.min.js"></script>
        <script type="text/javascript" th:src="@{/lib/js/ace/ace.js}" src="/lib/js/ace/ace.js"></script>
        <script type="text/javascript" th:src="@{/lib/js/ace/mode-html.js}" src="/lib/js/ace/mode-html.js"></script>
        <script type="text/javascript" th:src="@{/lib/js/ace/theme-github.js}" src="/lib/js/ace/theme-github.js"></script>
        <script type="text/javascript" th:src="@{/lib/js/jquery.cookie.js}" src="/lib/js/ace/theme-github.js"></script>
        <!-- Javascript -->
        <script type="text/javascript" th:src="@{/js/app.js}" src="/js/app.js"></script>

        <!--  Javascript for Nios  -->
        <script type="text/javascript" th:src="@{/nios-js/drug.js}"></script>

        <script type="text/javascript">
            $(function () {
                let token = $.cookie('token');
            });
        </script>
    </div>
</div>
</body>

</html>
