<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Diagnosis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Fonts -->
    <!--<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400' rel='stylesheet' type='text/css'>-->
    <!--<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>-->
    <!-- CSS Libs -->
    <link rel="stylesheet" type="text/css" th:href="@{/lib/css/bootstrap.min.css}" th href="/lib/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/lib/css/font-awesome.min.css}" href="/lib/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/lib/css/animate.min.css}" href="/lib/css/animate.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/lib/css/bootstrap-switch.min.css}" href="/lib/css/bootstrap-switch.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/lib/css/checkbox3.min.css}" href="/lib/css/checkbox3.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/lib/css/jquery.dataTables.min.css}" href="/lib/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/lib/css/dataTables.bootstrap.css}" href="/lib/css/dataTables.bootstrap.css">
    <link rel="stylesheet" type="text/css" th:href="@{/lib/css/select2.min.css}" href="/lib/css/select2.min.css">
    <!-- CSS App -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="/css/style.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/themes/flat-blue.css}" href="/css/themes/flat-blue.css">
</head>

<body class="flat-blue">
<div class="app-container">
    <div class="row content-container">
        <!-- insert topvar -->
        <div th:replace="~{commons/bar::topnav(activeUri='registration.html')}"></div>
        <!-- insert sidebar -->
        <div th:replace="~{commons/bar::sidebar(activeUri='registration.html')}"></div>
        <!-- Main Content -->
        <div class="container-fluid">
            <div class="side-body">
                <div class="page-title">
                    <span class="title">Registration</span>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title">
                                    <div class="title">
                                        Registration List
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <table id="registration_table" class="table  table-bordered table-hover" cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th>PatientID</th>
                                        <th>Name</th>
                                        <th>Age</th>
                                        <th>Gender</th>
                                        <th>Mobile</th>
                                        <th>Email</th>
                                        <th>Status</th>
                                        <th>Operate</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title">
                                    <div class="title">
                                        User Registration
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <form id="Registration_Form" class="form-horizontal">
                                    <div class="form-group">
                                        <label for="Name" class="col-sm-2 control-label">Name</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="Name" class="form-control" id="Name"
                                                   placeholder="Name">
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="Age" class="col-sm-2 control-label">Age</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="Age" class="form-control" id="Age"
                                                   placeholder="Age">
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="Gender" class="col-sm-2 control-label">Gender</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="Gender" class="form-control" id="Gender"
                                                   placeholder="Gender">
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="Mobile" class="col-sm-2 control-label">Mobile</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="Mobile" class="form-control" id="Mobile"
                                                   placeholder="Mobile">
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="Email" class="col-sm-2 control-label">Email</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="Email" class="form-control" id="Email"
                                                   placeholder="Email">
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button type="reset" class="btn btn-default" data-dismiss="modal">Reset</button>
                                            <button id="patient_save_btn" type="button" class="btn btn-info">Save</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="app-footer">
        <div class="wrapper">
            <span class="pull-right">2.1 <a href="#"><i class="fa fa-long-arrow-up"></i></a></span> © 2015 Copyright.
        </div>
    </footer>
    <div>
        <!-- Javascript Libs -->
        <script type="text/javascript" th:src="@{/lib/js/jquery.min.js}" src="/lib/js/jquery.min.js"></script>
        <script type="text/javascript" th:src="@{/lib/js/bootstrap.min.js}" src="/lib/js/bootstrap.min.js"></script>
        <script type="text/javascript" th:src="@{/lib/js/Chart.min.js}" src="/lib/js/Chart.min.js"></script>
        <script type="text/javascript" th:src="@{/lib/js/bootstrap-switch.min.js}" src="/lib/js/bootstrap-switch.min.js"></script>
        <script type="text/javascript" th:src="@{/lib/js/jquery.matchHeight-min.js}" src="/lib/js/jquery.matchHeight-min.js"></script>
        <script type="text/javascript" th:src="@{/lib/js/jquery.dataTables.min.js}" src="/lib/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" th:src="@{/lib/js/dataTables.bootstrap.min.js}" src="/lib/js/dataTables.bootstrap.min.js"></script>
        <script type="text/javascript" th:src="@{/lib/js/select2.full.min.js}" src="/lib/js/select2.full.min.js"></script>
        <script type="text/javascript" th:src="@{/lib/js/ace/ace.js}" src="/lib/js/ace/ace.js"></script>
        <script type="text/javascript" th:src="@{/lib/js/ace/mode-html.js}" src="/lib/js/ace/mode-html.js"></script>
        <script type="text/javascript" th:src="@{/lib/js/ace/theme-github.js}" src="/lib/js/ace/theme-github.js"></script>
        <script type="text/javascript" th:src="@{/lib/js/jquery.cookie.js}" src="/lib/js/ace/theme-github.js"></script>
        <!-- Javascript -->
        <script type="text/javascript" th:src="@{/js/app.js}" src="/js/app.js"></script>

        <!--  Javascript for Nios  -->
        <script type="text/javascript" th:src="@{/nios-js/registration.js}"></script>
    </div>
</div>
</body>

</html>
