<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Blank</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <!-- CSS Libs -->
    <link rel="stylesheet" type="text/css" th:href="@{/lib/css/bootstrap.min.css}" th href="/lib/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/lib/css/font-awesome.min.css}"
          href="/lib/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/lib/css/animate.min.css}" href="/lib/css/animate.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/lib/css/bootstrap-switch.min.css}"
          href="/lib/css/bootstrap-switch.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/lib/css/checkbox3.min.css}" href="/lib/css/checkbox3.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/lib/css/jquery.dataTables.min.css}"
          href="/lib/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/lib/css/dataTables.bootstrap.css}"
          href="/lib/css/dataTables.bootstrap.css">
    <link rel="stylesheet" type="text/css" th:href="@{/lib/css/select2.min.css}" href="/lib/css/select2.min.css">
    <!-- CSS App -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="/css/style.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/themes/flat-blue.css}" href="/css/themes/flat-blue.css">
</head>

<body class="flat-blue">
<!-- Modal -->
<div class="modal fade modal-info" id="UserAddModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">User Add</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="UserID_add" class="col-sm-2 control-label">UserID</label>
                        <div class="col-sm-10">
                            <input type="text" name="id" class="form-control" id="UserID_add" placeholder="UserID">
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="UserName_add" class="col-sm-2 control-label">UserName</label>
                        <div class="col-sm-10">
                            <input type="text" name="name" class="form-control" id="UserName_add"
                                   placeholder="UserName">
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Email_add" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" name="email" class="form-control" id="Email_add" placeholder="Email">
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Mobile_add" class="col-sm-2 control-label">Mobile</label>
                        <div class="col-sm-10">
                            <input type="text" name="mobile" class="form-control" id="Mobile_add" placeholder="Mobile">
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Effect_Date_add" class="col-sm-2 control-label">Effect_Date</label>
                        <div class="col-sm-10">
                            <input type="date" name="effective" class="form-control" id="Effect_Date_add"
                                   placeholder="Effect_Date">
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Expiry_Date_add" class="col-sm-2 control-label">Expiry_Date</label>
                        <div class="col-sm-10">
                            <input type="date" name="expiry" class="form-control" id="Expiry_Date_add"
                                   placeholder="Expiry_Date">
                            <span class="help-block"></span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="user_save_btn" type="button" class="btn btn-info">Save</button>
            </div>
        </div>
    </div>
</div>
<div class="app-container">
    <div class="row content-container">
        <!-- insert topvar -->
        <div th:replace="~{commons/bar::topnav(activeUri='user')}"></div>
        <!-- insert sidebar -->
        <div th:replace="~{commons/bar::sidebar(activeUri='user')}"></div>
        <!-- Main Content -->
        <div class="container-fluid">
            <div class="side-body">
                <div class="page-title">
                    <span class="title">User List</span>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title">
                                    <div class="title">
                                        <!-- Button trigger modal -->
                                        <button type="button"
                                                class="btn btn-primary btn-info" data-toggle="modal"
                                                data-target="#UserAddModal">Add
                                        </button>
                                        <button type="button" class="btn btn-danger">Batch
                                            Delete
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <table id="users_table" class="table table-hover" cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th><input type="checkbox" id="delete-btn"></th>
                                        <th>UserID</th>
                                        <th>Username</th>
                                        <th>Email</th>
                                        <th>Mobile</th>
                                        <th>Effect_Date</th>
                                        <th>Expiry_Date</th>
                                        <th>Operate</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <!--<tr th:each="userDto: ${userDtos}">
                                        <td><input type="checkbox" id="delete-btn"></td>
                                        <td th:text="${userDto.id}"></td>
                                        <td th:text="${userDto.name}"></td>
                                        <td th:text="${userDto.email}"></td>
                                        <td th:text="${userDto.mobile}"></td>
                                        <td th:text="${#dates.format(userDto.effective,'yyyy-MM-dd')}"></td>
                                        <td th:text="${#dates.format(userDto.expiry,'yyyy-MM-dd')}"></td>
                                        <td>
                                            <button type="button" class="btn btn-info">
                                                Modify
                                            </button>
                                            <button type="button" class="btn btn-danger">
                                                Delete
                                            </button>
                                        </td>
                                    </tr>-->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="app-footer">
        <div class="wrapper">
            <span class="pull-right">2.1 <a href="#"><i class="fa fa-long-arrow-up"></i></a></span> © 2015 Copyright.
        </div>
    </footer>
    <div>
        <!-- Javascript Libs -->
        <script type="text/javascript" th:src="@{/lib/js/jquery.min.js}" src="/lib/js/jquery.min.js"></script>
        <script type="text/javascript" th:src="@{/lib/js/bootstrap.min.js}" src="/lib/js/bootstrap.min.js"></script>
        <script type="text/javascript" th:src="@{/lib/js/Chart.min.js}" src="/lib/js/Chart.min.js"></script>
        <script type="text/javascript" th:src="@{/lib/js/bootstrap-switch.min.js}"
                src="/lib/js/bootstrap-switch.min.js"></script>
        <script type="text/javascript" th:src="@{/lib/js/jquery.matchHeight-min.js}"
                src="/lib/js/jquery.matchHeight-min.js"></script>
        <script type="text/javascript" th:src="@{/lib/js/jquery.dataTables.min.js}"
                src="/lib/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" th:src="@{/lib/js/dataTables.bootstrap.min.js}"
                src="/lib/js/dataTables.bootstrap.min.js"></script>
        <script type="text/javascript" th:src="@{/lib/js/select2.full.min.js}"
                src="/lib/js/select2.full.min.js"></script>
        <script type="text/javascript" th:src="@{/lib/js/ace/ace.js}" src="/lib/js/ace/ace.js"></script>
        <script type="text/javascript" th:src="@{/lib/js/ace/mode-html.js}" src="/lib/js/ace/mode-html.js"></script>
        <script type="text/javascript" th:src="@{/lib/js/ace/theme-github.js}"
                src="/lib/js/ace/theme-github.js"></script>
        <!-- Javascript -->
        <script type="text/javascript" th:src="@{/js/app.js}" src="/js/app.js"></script>
        <script type="text/javascript" th:src="@{/js/index.js}" src="/js/index.js"></script>

    </div>
</div>
    <!--  Javascript for Nios  -->
    <script type="text/javascript">
        $(function () {
            alert("test");
            //to_page(0);

        });

        function to_page(pn) {
            $.ajax({
                url: "@{/user}",
                data: "pn=" + pn,
                type: "GET",
                success: function (result) {
                    alert("test");
                    //build_users_table(result);

                    //build_page_info(result);

                    //build_page_nav(result);
                }
            });
        }

        function build_users_table(result) {
            //清空表格数据
            $("#users_table tbody").empty();
            var userInfo = result.extend.userInfo;
            //jquery遍历方法each，emps第一个遍历的元素,item当前对象
            //此处要对照JSON数据，获取到员工的list
            //item.*读取bean中数据
            $.each(userInfo, function (index, item) {
                var checkBoxTD = $("<td><input type='checkbox' class='check_item'/></td>");
                var userIdTd = $("<td></td>").append(item.id);
                var userNameTd = $("<td></td>").append(item.name);
                var MobileTd = $("<td></td>").append(item.mobile);
                var EmailTd = $("<td></td>").append(item.email);
                var effecticeDateTd = $("<td></td>").append(item.effective);
                var expiryDateTd = $("<td></td>").append(item.expiry);
                var editBtn = $("<button></button>").addClass("btn btn-primary  btn-sm edit_btn").append($("<span></span>").addClass(
                    "glyphicon glyphicon-pencil")).append("update");
                //为编辑按钮添加一个自定义的属性，来表示当前员工。赋值给edit-id
                editBtn.attr("edit-id", item.id);
                var delBth = $("<button></button>").addClass(
                    "btn btn-danger  btn-sm delete_btn").append(
                    $("<span></span>")
                        .addClass("glyphicon glyphicon-trash")).append(
                    "dalete");
                //为删除按钮添加一个自定义的属性，来表示当前员工。赋值给edit-id
                delBth.attr("del-id", item.id);
                var btnTd = $("<td></td>").append(editBtn).append(" ").append(
                    delBth);
                //append方法执行完以后还是返回原来的元素，所以可以不停使用append方法添加内容
                $("<tr></tr>").append(checkBoxTD).append(userIdTd).append(userNameTd).append(MobileTd).append(EmailTd).append(effecticeDateTd).append(expiryDateTd).append(btnTd).appendTo("#users_table tbody");
            });
        }

        $("#user_save_btn").click(function () {
            if (!validate_add_form()) {
                return false;
            }
            $.ajax({
                url: "/nios/user",
                type: "POST",
                data: $("#UserAddModal form").serialize(),
                success: function (result) {
                    if (result.code == 100) {
                        $("#UserAddModal").modal('hide');
                    }
                }
            });
        });

        function validate_add_form() {
            //userId validation
            var userId = $("#UserID_add").val();
            console.log("userId", userId)
            //6-16 digit number or letter
            var regUserId = /(^[a-zA-Z0-9_-]{6,16}$)/;
            if (!regUserId.test(userId)) {
                show_validate_msg("#UserID_add", "error", "The user name can be a combination of 6-16 digits in English and a number");
                return false;
            } else {
                show_validate_msg("#UserID_add", "success", "");
            }

            //email validation
            var email = $("#Email_add").val();
            var regemail = /^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/;
            if (!regemail.test(email)) {
                show_validate_msg("#Email_add", "error", "email format is not right");
                return false
            } else {
                show_validate_msg("#Email_add", "success", "");
            }
            return true;
        }

        function show_validate_msg(ele, status, msg) {
            $(ele).parent().removeClass("has-success has-error");
            $(ele).next("span").text("");

            if ("success" == status) {
                $(ele).parent().addClass("has-success");
                $(ele).next("span").text(msg);
            } else if ("error" == status) {
                $(ele).parent().addClass("has-error");
                $(ele).next("span").text(msg);
            }
        }

    </script>
</body>

</html>
