<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Blank</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <!-- CSS Libs -->
    <link rel="stylesheet" type="text/css" th:href="@{/lib/css/bootstrap.min.css}" th href="/lib/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/lib/css/font-awesome.min.css}"
          href="/lib/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/lib/css/animate.min.css}" href="/lib/css/animate.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/lib/css/bootstrap-switch.min.css}"
          href="/lib/css/bootstrap-switch.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/lib/css/checkbox3.min.css}" href="/lib/css/checkbox3.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/lib/css/jquery.dataTables.min.css}"
          href="/lib/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/lib/css/dataTables.bootstrap.css}"
          href="/lib/css/dataTables.bootstrap.css">
    <link rel="stylesheet" type="text/css" th:href="@{/lib/css/select2.min.css}" href="/lib/css/select2.min.css">
    <!-- CSS App -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="/css/style.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/themes/flat-blue.css}" href="/css/themes/flat-blue.css">
</head>

<body class="flat-blue">
<!-- Modal -->
<div class="modal fade modal-info" id="UserAddModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">User Add</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="UserID_add" class="col-sm-2 control-label">UserID</label>
                        <div class="col-sm-10 has-success">
                            <input type="text" name="id" class="form-control" id="UserID_add" placeholder="UserID">
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="UserName_add" class="col-sm-2 control-label">UserName</label>
                        <div class="col-sm-10 has-warning">
                            <input type="text" name="name"  class="form-control" id="UserName_add" placeholder="UserName">
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Email_add" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10 has-error">
                            <input type="email" name="email" class="form-control" id="Email_add" placeholder="Email">
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Mobile_add" class="col-sm-2 control-label">Mobile</label>
                        <div class="col-sm-10">
                            <input type="text" name="mobile" class="form-control" id="Mobile_add" placeholder="Mobile">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Effect_Date_add" class="col-sm-2 control-label">Effect_Date</label>
                        <div class="col-sm-10">
                            <input type="date" name="effective" class="form-control" id="Effect_Date_add" placeholder="Effect_Date">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Expiry_Date_add" class="col-sm-2 control-label">Expiry_Date</label>
                        <div class="col-sm-10">
                            <input type="date" name="expiry" class="form-control" id="Expiry_Date_add" placeholder="Expiry_Date">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="user_save_btn" type="button" class="btn btn-info">Save</button>
            </div>
        </div>
    </div>
</div>
<div class="app-container">
    <div class="row content-container">
        <!-- insert topvar -->
        <div th:replace="~{commons/bar::topnav(activeUri='license.html')}"></div>
        <!-- insert sidebar -->
        <div th:replace="~{commons/bar::sidebar(activeUri='license.html')}"></div>
        <!-- Main Content -->
        <div class="container-fluid">
            <div class="side-body">
                <div class="page-title">
                    <span class="title">User List</span>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title">
                                    <div class="title">
                                        <!-- Button trigger modal -->
                                        <button type="button"
                                                class="btn btn-primary btn-info" data-toggle="modal"
                                                data-target="#UserAddModal">Add
                                        </button>
                                        <button type="button" class="btn btn-danger">Batch
                                            Delete
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <table class="table table-hover" cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th><input type="checkbox" id="delete-btn"></th>
                                        <th>UserID</th>
                                        <th>Username</th>
                                        <th>Email</th>
                                        <th>Mobile</th>
                                        <th>Effect_Date</th>
                                        <th>Expiry_Date</th>
                                        <th>Operate</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="userDto: ${userDtos}">
                                        <td><input type="checkbox" id="delete-btn"></td>
                                        <td th:text="${userDto.id}"></td>
                                        <td th:text="${userDto.name}"></td>
                                        <td th:text="${userDto.email}"></td>
                                        <td th:text="${userDto.mobile}"></td>
                                        <td th:text="${#dates.format(userDto.effective,'yyyy-MM-dd')}"></td>
                                        <td th:text="${#dates.format(userDto.expiry,'yyyy-MM-dd')}"></td>
                                        <td>
                                            <button type="button" class="btn btn-info">
                                                Modify
                                            </button>
                                            <button type="button" class="btn btn-danger">
                                                Delete
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="text-center">
                                    <nav>
                                        <ul class="pagination">
                                            <li>
                                                <a href="#" aria-label="Previous">
                                                    <span aria-hidden="true">&laquo;</span>
                                                </a>
                                            </li>
                                            <li class="active"><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#">5</a></li>
                                            <li>
                                                <a href="#" aria-label="Next">
                                                    <span aria-hidden="true">&raquo;</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="app-footer">
        <div class="wrapper">
            <span class="pull-right">2.1 <a href="#"><i class="fa fa-long-arrow-up"></i></a></span> © 2015 Copyright.
        </div>
    </footer>
    <div>
        <!-- Javascript Libs -->
        <script type="text/javascript" th:src="@{/lib/js/jquery.min.js}" src="/lib/js/jquery.min.js"></script>
        <script type="text/javascript" th:src="@{/lib/js/bootstrap.min.js}" src="/lib/js/bootstrap.min.js"></script>
        <script type="text/javascript" th:src="@{/lib/js/Chart.min.js}" src="/lib/js/Chart.min.js"></script>
        <script type="text/javascript" th:src="@{/lib/js/bootstrap-switch.min.js}"
                src="/lib/js/bootstrap-switch.min.js"></script>
        <script type="text/javascript" th:src="@{/lib/js/jquery.matchHeight-min.js}"
                src="/lib/js/jquery.matchHeight-min.js"></script>
        <script type="text/javascript" th:src="@{/lib/js/jquery.dataTables.min.js}"
                src="/lib/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" th:src="@{/lib/js/dataTables.bootstrap.min.js}"
                src="/lib/js/dataTables.bootstrap.min.js"></script>
        <script type="text/javascript" th:src="@{/lib/js/select2.full.min.js}"
                src="/lib/js/select2.full.min.js"></script>
        <script type="text/javascript" th:src="@{/lib/js/ace/ace.js}" src="/lib/js/ace/ace.js"></script>
        <script type="text/javascript" th:src="@{/lib/js/ace/mode-html.js}" src="/lib/js/ace/mode-html.js"></script>
        <script type="text/javascript" th:src="@{/lib/js/ace/theme-github.js}"
                src="/lib/js/ace/theme-github.js"></script>
        <!-- Javascript -->
        <script type="text/javascript" th:src="@{/js/app.js}" src="/js/app.js"></script>
        <script type="text/javascript" th:src="@{/js/index.js}" src="/js/index.js"></script>
        <!--  Javascript for Nios  -->
        <script type="text/javascript">
            $("#user_save_btn").click(function () {
                $.ajax({
                    url: "/nios/user",
                    type: "POST",
                    data: $("#UserAddModal form").serialize(),
                    success: function (result) {
                        if(result.code==100){
                            $("#UserAddModal").modal('hide');
                            alert("SUCCESS");
                        }

                    }
                })
            });

        </script>
    </div>
</body>

</html>
