<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Blank</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <!-- CSS Libs -->
    <link rel="stylesheet" type="text/css" th:href="@{/lib/css/bootstrap.min.css}" th href="/lib/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/lib/css/font-awesome.min.css}" href="/lib/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/lib/css/animate.min.css}" href="/lib/css/animate.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/lib/css/bootstrap-switch.min.css}" href="/lib/css/bootstrap-switch.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/lib/css/checkbox3.min.css}" href="/lib/css/checkbox3.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/lib/css/jquery.dataTables.min.css}" href="/lib/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/lib/css/dataTables.bootstrap.css}" href="/lib/css/dataTables.bootstrap.css">
    <link rel="stylesheet" type="text/css" th:href="@{/lib/css/select2.min.css}" href="/lib/css/select2.min.css">
    <!-- CSS App -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="/css/style.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/themes/flat-blue.css}" href="/css/themes/flat-blue.css">
</head>

<body class="flat-blue">
<div class="app-container">
    <div class="row content-container">
        <!-- insert topvar -->
        <div th:replace="~{commons/bar::topnav(activeUri='user-role.html')}"></div>
        <!-- insert sidebar -->
        <div th:replace="~{commons/bar::sidebar(activeUri='user-role.html')}"></div>
        <!-- Main Content -->
        <div class="container-fluid">
            <div class="side-body">
                <div class="page-title">
                    <span class="title">User Role</span>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title">
                                    <!-- Button trigger modal -->
                                    <button type="button"
                                            class="btn btn-primary btn-info" data-toggle="modal"
                                            data-target="#UserAddModal">Add
                                    </button>
                                    <button type="button" class="btn btn-danger">Batch
                                        Delete
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                                <table id="userRoles_table" class="table table-hover" cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th><input type="checkbox" id="delete-btn"></th>
                                        <th>UserRole-id</th>
                                        <th>UserRole</th>
                                        <th>Describe</th>
                                        <th>Status</th>
                                        <th>Operate</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title">
                                    <div class="title">
                                        User Save
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <form id="UserRole_Form" class="form-horizontal">
                                    <div class="form-group">
                                        <label for="UserRoleID" class="col-sm-2 control-label">UserRole-id</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="id" class="form-control" id="UserRoleID"
                                                   placeholder="UserID">
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="UserRole" class="col-sm-2 control-label">UserRole</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="name" class="form-control" id="UserRole"
                                                   placeholder="UserRole">
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="Describe" class="col-sm-2 control-label">Describe</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="Describe" class="form-control" id="Describe"
                                                   placeholder="Describe">
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="Mobile" class="col-sm-2 control-label">Mobile</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="mobile" class="form-control" id="Mobile"
                                                   placeholder="Mobile">
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Status</label>
                                        <div class="col-sm-10">
                                            <div class="radio3 radio-check radio-success radio-inline">
                                                <input type="radio" id="radioY" name="Status" value="option2">
                                                <label for="radioY">
                                                    Y
                                                </label>
                                            </div>
                                            <div class="radio3 radio-check radio-warning radio-inline">
                                                <input type="radio" id="radioN" name="Status" value="option3">
                                                <label for="radioN">
                                                    N
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="Permission" class="col-sm-2 control-label">Permission</label>
                                        <div class="col-sm-10">
                                            <select name="Permission" id="Permission" class="form-control" multiple>
                                                <option value="1">广东省</option>
                                                <option value="2">广西省</option>
                                                <option value="3">福建省</option>
                                                <option value="4">湖南省</option>
                                                <option value="5">山东省</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Reset</button>
                                            <button id="user_save_btn" type="button" class="btn btn-info">Save</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="app-footer">
        <div class="wrapper">
            <span class="pull-right">2.1 <a href="#"><i class="fa fa-long-arrow-up"></i></a></span> © 2015 Copyright.
        </div>
    </footer>
    <div>
        <!-- Javascript Libs -->
        <script type="text/javascript" th:src="@{/lib/js/jquery.min.js}" src="/lib/js/jquery.min.js"></script>
        <script type="text/javascript" th:src="@{/lib/js/bootstrap.min.js}" src="/lib/js/bootstrap.min.js"></script>
        <script type="text/javascript" th:src="@{/lib/js/Chart.min.js}" src="/lib/js/Chart.min.js"></script>
        <script type="text/javascript" th:src="@{/lib/js/bootstrap-switch.min.js}" src="/lib/js/bootstrap-switch.min.js"></script>
        <script type="text/javascript" th:src="@{/lib/js/jquery.matchHeight-min.js}" src="/lib/js/jquery.matchHeight-min.js"></script>
        <script type="text/javascript" th:src="@{/lib/js/jquery.dataTables.min.js}" src="/lib/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" th:src="@{/lib/js/dataTables.bootstrap.min.js}" src="/lib/js/dataTables.bootstrap.min.js"></script>
        <script type="text/javascript" th:src="@{/lib/js/select2.full.min.js}" src="/lib/js/select2.full.min.js"></script>
        <script type="text/javascript" th:src="@{/lib/js/ace/ace.js}" src="/lib/js/ace/ace.js"></script>
        <script type="text/javascript" th:src="@{/lib/js/ace/mode-html.js}" src="/lib/js/ace/mode-html.js"></script>
        <script type="text/javascript" th:src="@{/lib/js/ace/theme-github.js}" src="/lib/js/ace/theme-github.js"></script>
        <!-- Javascript -->
        <script type="text/javascript" th:src="@{/js/app.js}" src="/js/app.js"></script>

        <!--  Javascript for Nios  -->
        <script type="text/javascript" th:src="@{/nios-js/user-role.js}"></script>
    </div>
</div>
</body>

</html>
