<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.mapper.AppointmentMapper">

    <resultMap id="appointment" type="com.springboot.dto.AppointmentDto">
        <result property="id" column="appointment_id"/>
        <result property="appointmentTime" column="appointment_time"/>
        <result property="description" column="description"/>
        <result property="sequence" column="sequence"/>
        <association property="userDto" javaType="com.springboot.dto.UserDto">
            <result property="id" column="user_id"/>
            <result property="name" column="name"/>
            <result property="email" column="email"/>
            <result property="mobile" column="mobile"/>
        </association>
        <association property="patientDto" javaType="com.springboot.dto.PatientDto">
            <result property="id" column="patient_key"/>
            <result property="name" column="p_name"/>
        </association>
    </resultMap>

    <select id="findAll" resultMap="appointment">
        SELECT appointment.*,profile.*,patient.* FROM appointment appointment,user_profile profile,patient patient
        where appointment.user_id = profile.user_id and appointment.patient_key = patient.patient_key and appointment.status = #{status}
    </select>

    <select id="findById" parameterType="String" resultMap="appointment">
        SELECT appointment.*,profile.*,patient.* FROM appointment appointment,user_profile profile,patient patient
        where appointment.user_id = profile.user_id and appointment.patient_key = patient.patient_key and appointment.appointment_id = #{Id}
    </select>

    <select id="findByPatientKey" parameterType="String" resultType="java.lang.Long">
        SELECT count(*) FROM appointment appointment where appointment.patient_key = #{patientKey} and appointment.status = 'Y'
    </select>

    <select id="findByTimeAndUserId" parameterType="Map" resultType="java.lang.Long">
        SELECT count(*) FROM appointment appointment where appointment.user_id = #{params.userId} and appointment.appointment_time = #{params.time} and appointment.status = 'Y'
    </select>

</mapper>
